
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/nomalize.css">
    <link rel="stylesheet" href="css/css_exam02.css">
    <title>jls-profile</title>
  </head>
  <body>
     <div class="container">
         <div class="row">
         
      
       <div class=" col-md-12 head">
           <label class = "plog">Profile</label> <% if current_user.image_url.present? %>
          <%= image_tag current_user.image_url  %>  <% else %> <%= image_tag "avatar.png" %>  <% end %>
           <p class="h2">Welcome <%= current_user.name %></p>
           

        <!--<img src="/assets/rlpic.png" alt="profile pic" />-->

       
           </div>
 
<div class = "col-md-10 col-xs-12">
          <nav class="navbar ">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
           <!--<span class="icon-bar">MENU</span>-->
          <!--<span class="glyphicon glyphicon-menu-hamburger blue"></span>-->
        <span class="sr-only">MENU</span>
       
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" href="#">MENU </a>-->

     
    </div>
    <div id="gnavi" class="collapse navbar-collapse">
      <ul class="nav navbar-nav ">
           <li class="select"><%= link_to "Home", home_path %></li>
           <li><a href="#">Profile</a></li>
           <li><a href="#">Contant us</a></li>
           <li><%= link_to "My Favorites", my_fav_path %></li>
          <li> <%= link_to "Logout", session_path(current_user.id), method: :delete %></li>
      </ul>
      
    </div>
  </div>
</nav>
</div> <!--end nav col-->
</div> <!--end row-->
  

<!--<div><%= link_to "print all blogs", 'contacts.pdf', target: :_blank, class:"btn"%></div>-->

    <!--<div class="wrapper clearfix">-->

    <div class= "row" style="padding-bottom:10%" >
  
 <div class= "col-md-6 text-center clearfix">
       
     
      <dl id="accordion">
        <dt>ALL BLOGS</dt>
    <dt> <label style=" color:green;background-color:white;"><%= notice %></label></dt>
      <% @blogs.each do |blog| %>
    <dt >
        </dt>
    <dd><label style="font-size: 25px;">
        <%= blog.title %> </label>
        
        <% if blog.image_url.present? %>
        <img>  <%= image_tag blog.image_url, :class => "style_image"  %><% end %>
        
   
        
         <% if blog.user == current_user %>
        <label style="float:right;font-size: 25px;"><%= link_to "Edit", edit_blog_path(blog.id)  ,data: { confirm: 'Are you sure?' }, class: 'label label-info label-small'%></label> 
        <label style="float:right;font-size: 25px;"><%= link_to link_to 'Delete', blog_path(blog.id), method: :delete ,data: { confirm: 'Are you sure?' }, class: 'label label-info label-small' %></label> 
          <% else %>
      <label style="float:right;font-size: 25px;"><%= link_to 'details', blog_path(blog.id), class: 'label label-info label-small'%></label> 
     
      <% end %>
       <h4> <%= blog.content %></h4>
        </dd>
<% end %>
    

  


   

</div>
<aside class="col-md-4  col-md-offset-1">


  
  <dl id="accordion">
    <dt>Add your Blog</dt>
    <dd>
    
    <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2 style="color:red;"><%= @blog.errors.count %>errors occurred.</h2>
      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li style="color:red;"><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>
    
<%= form_with(model: @blog, local: true) do |form| %>
    
       <div class="form-group" >
        <%= form.label :title, "Tittle:", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= form.text_field :title, class: "form-control" %>
        </div>
      </div>
      
      
    
    <div class="form-group">
        <%= form.label :content, "Content:", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= form.text_area :content, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :image, "Content:", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= form.file_field :image, id: :blog_image, class: "form-control" %>
        </div>
        <%= form.hidden_field :image_cache %>
      </div>
     
  


  <center><%= form.submit "Submit", class: "btn btn-default btn-primary " %> </center>
  
    
<% end %>
  
  
  
  

    </dd>
  </dl>
  <p class="banner">
   
     <%= image_tag "chery tree.gif" %>
      
      
    
  </p>
  
</aside>

</div>
   <footer class="footer">
      <p>Copyright © 2018 JULES All RIGHTS RESERVED.</p>
   </footer>
</div> <!--end row-->


<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
 <script type="text/javascript" src="./js/main.js">
  </script>
  </body>
</html>





