<p><%= notice %></p>

<h1>List of blogs</h1><%= link_to 'New blog', new_blog_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th></th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.title %></td>
    <td><%= blog.content %></td>
   <td> <%= link_to 'Check the details', blog_path(blog.id) %></td>
   <td><%= link_to "Edit this blog", edit_blog_path(blog.id) ,data: { confirm: 'Are you sure?' } %></td>
   <td><%= link_to link_to 'Delete this blos', blog_path(blog.id), method: :delete ,data: { confirm: 'Are you sure?' } %></td>
       
  </tr>
<% end %>
</table>
